body {
  padding: 5px
}

#container {
  width: 500px;
  margin: 0px auto;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline;
  margin: 0;
  padding: 0;
}

.todo-list {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.todo-item {
  position: relative;
  padding: 10px 20px;
  border-right: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
  border-left: solid 1px #ddd;
}

.todo-item:first-child {
  border-top: solid 1px #ddd;
}

.todo-item button.del {
  display: none;
  position: absolute;
  right: 6px;
  top: 6px;
  width: 24px;
  height: 24px;
}

.todo-item:hover button.del {
  display: block;
}

.add-form {
  padding: 20px 0px;
  text-align: center;
}

.add-form input {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.action-bar {
  padding: 20px;
  text-align: center;
}

.action-bar button.link-button {
  padding: 5px 10px;
}

.action-bar button.link-button.active {
  border: solid 1px #ddd;
}